
.container{
    background-color: #eee;
    height:629px;
    position:relative;
    overflow: hidden;
}
.light{
    background-color: #989843;
}
.container h2{
    text-align: center;
    color: #989843;
    font-size: 30px;
}

.container .mycalss{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    
    line-height: 100px;
    text-align: center;

}
.container .score{
    width: 100px;
    height: 40px;
    position: absolute;
    top: 12px;
    right: 20px;
    background-color: green;
    color: white;
    text-align: center;
    font-size:30px;
}
.container .mycalss .ball {
    position: absolute;
    bottom:0;
    right:0;
    background-color: transparent;
    height:50px;
     width:50px;
     display: none;
     border-radius: 50%;
}
.container .obstacle{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #eee;
    
    line-height: 100px;
    text-align: center;
}
.container .obstacle .enemyball{
    position: absolute;
    bottom:0;
    right:0;
    height:50px;
     width:50px;
     display: block;
     /*opacity: 0;*/
     border-radius: 50%;
}


